# 系统文件
AppData/
*.log

# ================= Python =================
__pycache__/
*.pyc
*.pyo

venv/
backend/venv/
.venv/

# Django
*.log
*.sqlite3
media/
staticfiles/

# ================= Node / Vue =================
node_modules/
dist/

# ================= IDE =================
.vscode/
.idea/

# ================= OS =================
.DS_Store
Thumbs.db
# ================= 环境变量与密钥 =================
.env
local_settings.py